.top{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #363636;
    padding: 0 24px;
    color: #fff;
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.top ul{
    display: flex;
}

.top ul li{
    margin: 0 5px;
    transition: .3s;
    user-select: none;
    cursor: pointer;
}

.top ul li:first-child:hover{
    color: #8FD16F;
}

.top ul li:nth-child(2):hover{
    color: #ff404a;
}

.top ul li:last-child:hover{
    color: #92c9ff;
}

.top label{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.main_container form{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.main_container form input{
    margin-right: 15px;
    width: 25%;
    transition: .3s;
}

.main_container form input:focus{
    width: 40%;
}