<div class="container">
  <div class="image">
      <h1 class="display-2">True Detective</h1>
  </div>
  <div class="data">
    <div class="top">
      <h1>About</h1>
        <i class="far fa-bookmark"></i>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, iste optio. Sed, dolores similique animi et atque
      nemo, qui perspiciatis quisquam rem officia consectetur iste sint dolore tempore exercitationem assumenda! Quia maiores
      quasi laudantium ullam quis obcaecati! Sunt fugit accusamus voluptates qui! Atque commodi amet ad officiis, ducimus
      dolore, repudiandae ab aperiam provident debitis illum, ullam sit temporibus minus molestias! Animi quas ex sapiente
      quidem minus cumque quasi placeat nam id tempore, facilis, laborum quo itaque qui cum. Repudiandae illum omnis impedit
      doloribus quae dolor sit numquam et pariatur architecto! Reprehenderit voluptatem laudantium laborum ab aspernatur
      impedit consectetur, dolorem ipsa placeat optio corporis quisquam enim itaque labore quibusdam harum sequi velit quas
      veritatis earum dicta odit, perspiciatis modi facilis! Expedita! Vero reprehenderit itaque odio quis similique corporis
      nisi corrupti sed ratione alias voluptatem doloremque, laborum incidunt expedita, laudantium enim? Exercitationem,
      voluptatum amet reiciendis ullam minima repellat dolor. Quos, id est. Sit eveniet delectus quae consequatur maxime
      cum architecto et, doloremque esse enim pariatur repellat nesciunt? Deleniti eveniet provident animi nobis voluptatem
      aliquam nisi ex reiciendis, debitis incidunt aperiam soluta neque. Dolorem accusantium, nulla ullam omnis vero voluptatum
      deserunt, explicabo veritatis veniam culpa vel. Nulla qui quod voluptas, ipsum quia itaque quae eius placeat doloribus
      voluptatum culpa at explicabo veniam dolores. Nostrum quasi quas dolores saepe sapiente enim dolore aut iste, ad eum
      beatae omnis odit incidunt rerum minus perspiciatis dolor rem ex porro earum! Atque est saepe dolor laboriosam optio!
      Voluptatem nesciunt ipsa esse placeat officia saepe quasi incidunt cum, aut consequatur nisi labore, explicabo autem
      reprehenderit laborum dolor culpa nulla quidem tempora atque sapiente? Enim inventore quam quaerat tempore. Eaque nobis
      culpa non natus, optio doloremque praesentium est odio numquam adipisci pariatur rerum nulla enim consequatur explicabo
      voluptas nisi delectus expedita! Praesentium velit quam consequuntur eius nemo? Blanditiis, ipsum.</p>
      <h1>Seasons & Episodes</h1>
  </div>
  
</div>