<div class="col">
    <div class="card">
        <div class="overlay">
            <div class="image" [ngStyle]="{'background-image': 'url(' + data.imgUrl + ')'}"></div>
            <i class="{{data.favorite ? 'fas fa-bookmark' : 'far fa-bookmark'}}" (click)="togl()"></i>
        </div>
        <div class="data">
            <h3 class="title">{{data.title}}</h3>
            <i class="fas fa-angle-double-right" routerLink="/serial/{{data.id}}"></i>
            <article>{{data.description}}</article>
        </div>
        <div class="blur"></div>
        <div class="bottom">
            <p class="seasons">{{data.seasons}} seasons</p>
            <p class="episodes">{{data.episodes}} episodes</p>
        </div>
    </div>
</div>