<div class="card" id="card" name="card">
  <div class="image" id="idImage" name="image" style="background-image: url(http://ewedit.files.wordpress.com/2017/12/06_vrt_gallerybb2.jpg)"></div>
  <div class="data" id="idData" name="data">
      <div class="content">
          <h1 class="title">the breaking bad</h1>
          <article class="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, eaque, officia nam fugit error
              corporis omnis quasi deleniti numquam sit exercitationem quo est quaerat eum suscipit maxime
              cupiditate perspiciatis! Unde?
          </article>
          <button id="open_more" class="more" type="button">Read more</button>
      </div>
  </div>
</div>