<div class="edit_page">
  <h1>Редагування</h1>
  <div class="name">
    <label for="">Назва серіалу</label>
    <input type="text">
  </div>
  <div class="description">
    <label for="">Опис</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="image">
    <label for="">Image URL</label>
    <input type="text">
  </div>

  <div class="bottom">
    <div class="left">
      <button routerLink="" class="btn btn-yellow">Відміна
        <i class="fas fa-ban"></i>
      </button>
    </div>
    <div class="rigth">
      <button class="btn btn-blue">Зберегти
        <i class="fas fa-edit"></i>
      </button>
      <button class="btn btn-red">Видалити
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>