@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  /* font-family: 'Roboto Slab', serif; */
  box-sizing: border-box;
  list-style: none;
  /* user-select: none; */
  text-decoration: none;
  outline: none;
}

button{
  cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(to right, #eb3349, #f45c43);
    background: linear-gradient(to right, #5c258d, #4389a2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #085078, #85d8ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: linear-gradient(to right, #34e89e, #0f3443); */
    /* background-image: url(https://images.unsplash.com/photo-1516692935701-4f35bff8b9f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=cd171c4f92283ec47a2e191067f9ab79&auto=format&fit=crop&w=1950&q=80); */
  }

h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 16px;
}

/* PANEL NAVGATiON BEGiN */

.panel_navigation {
  display: flex;
  min-height: 55px;
  width: 100%;
  background-color: #2C2C2C;
}

.panel_navigation .container {
  padding: 0 15px;
  display: flex;
  width: 100%;
  min-height: 55px;
  margin: 0 auto 0 auto;
  justify-content: space-between;
}

.l_side .project_name {
  color: rgb(241, 241, 241);
  line-height: 55px;
  font-size: 1.2em;
  padding: 0 15px;
}

.r_side .list {
  display: flex;
}

.r_side .list .list_elements {
  display: flex;
  line-height: 55px;
  padding: 0 5px;
  transition: 0.5s;
  color: rgb(241, 241, 241);
}

.list li:first-child:hover {
  color: #8BC34A;
}

.list li:nth-child(2):hover {
  color: #C00000;
}

.list li:nth-child(3):hover {
  color: #2BBBD8;
}
/* PANEL NAVGATiON END*/

/* CONTENT BEGIN*/
.main_container {
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 11px 14px 73px -20px rgba(0,0,0,0.75);
  border-radius: 5px;
  background-color: #f8f8f8;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.add{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 300px;
  margin: 20px 0 20px 20px;
}

.add button{
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.add i{ 
  color: #0000001c;
  width: 100%;
  text-align: center;
  font-size: 10em;
  transition: .5s color;
}
.add i:hover{ 
  color: #8BC34A;
}


.info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.paragraph{
    font-size: 14px; 
}

.title{
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* CONTENT END*/

/* CARD */
.card{
  position: relative;
  overflow: hidden;
  height: 360px;
  width: 300px;
  border-radius: 5px;
  margin: 20px 0 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.image{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg);
  transition: .5s;
}

.data{
  position: absolute;
  width: 300px;
  max-height: 360px;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  transform: translateY(calc(130px + 1em));
  transition: 0.5s;
}

.card .data .content{ 
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.card:hover .data{
  transform: translateY(0);
}

.card:hover .image{
  transform: scale(1.1);
  filter: brightness(124%);
}

.title {
  margin-bottom: 14px;
}
.article{
font-size: 12px;
}
.more{
margin: 0 auto;
text-align: center;
padding: 4px 10px;
margin-top: 1em;
border-radius: 25px;
border: #c0392b solid 2px;
outline: none;
color: white;
background-color: transparent;
transition: .3s;
}

.more:hover{
background-color: #c0392b;
}

h1{
  text-transform: uppercase;
  font-size: 20px;
  color: white;
}

article{
  color: white;
}
/* CARD */


/* ADD WINDOW */

.modal_window {
  display: none; 
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.add_window{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  top: 10%;
  margin: 0 auto;
  z-index: 9;
  width: 1020px;
  height: 720px;
  background-color: #f8f8f8;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #2C2C2C;
  padding: 0 25px;
}

.top button{
  background-color: transparent;
  border: none;
  color: white;
  transition: .3s;
}

.top button:hover{
  color: #c0392b;
}

.top .name_window{
  color: white;
}

.elements{
  width: 100%;
  height: 100%;
  padding: 25px 80px;
}

.add_title, .add_article{
  display: flex;
  flex-direction: column;
}

.add_title{
  margin: 0 0 25px 0; 
}

.add_title input, .add_article textarea{
  width: 360px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #ced4da;
  resize: none;
}
.add_title input:hover, .add_article textarea:hover{
  border: 2px solid rgb(219, 255, 178);
}

.elements button{
  position: absolute;
  bottom: 25px;
  right: 80px;
  padding: 15px 30px;
  background-color: #8BC34A;
  border: none;
  border-radius: 5px;
  color: white;
  border-bottom: solid 5px rgb(108, 161, 47);
  transition: .3s
}

.elements button:hover{
  background-color: rgb(127, 185, 60);
  border-bottom: solid 2.5px rgb(108, 161, 47);
}

.elements button:active{
  border-bottom: none;
}
/* ADD WINDOW */
