<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main_container">
    <div class="panel_navigation">
        <div class="container">
            <div class="l_side">
                <div class="project_name">Library of Serials</div>
            </div>
            <div class="r_side">
                <ul class="list">
                    <li class="material-icons list_elements">add_box</li>
                    <li class="material-icons list_elements">delete</li>
                    <li class="material-icons list_elements">info</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card" id="card" name="card">
          <div class="image" id="idImage" name="image">
            </div>
            
            <div class="data" id="idData" name="data">
                <div class="content">
                    <h1 class="title">stranger things</h1>
                    <article class="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, eaque, officia nam fugit error corporis
                        omnis quasi deleniti numquam sit exercitationem quo est quaerat eum suscipit maxime cupiditate perspiciatis!
                        Unde?</article>
                    <button class="more" type="button">Read more</button>
                </div>
            </div>
        </div>
        <div class="card" id="card" name="card">
            <div class="image" id="idImage" name="image" style="background-image: url(http://ewedit.files.wordpress.com/2017/12/06_vrt_gallerybb2.jpg)"></div>
            <div class="data" id="idData" name="data">
                <div class="content">
                    <h1 class="title">the breaking bad</h1>
                    <article class="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, eaque, officia nam fugit error corporis
                        omnis quasi deleniti numquam sit exercitationem quo est quaerat eum suscipit maxime maxime maxime da cupiditate perspiciatis!
                        </article>
                    <button class="more" type="button">Read more</button>
                </div>
            </div>
        </div>
        <div class="card" id="card" name="card">
            <div class="image" id="idImage" name="image" style="background-image: url(https://cdn.psychologytoday.com/sites/default/files/blogs/94617/2014/08/158471-162619.jpg)"></div>
            <div class="data" id="idData" name="data">
                <div class="content">
                    <h1 class="title">the true detective</h1>
                    <article class="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, eaque, officia nam fugit error corporis
                        omnis quasi deleniti numquam sit exercitationem quo est quaerat eum suscipit maxime cupiditate perspiciatis!
                        Unde?</article>
                    <button class="more" type="button">Read more</button>
                </div>
            </div>
        </div>
        <div class="card" id="card" name="card">
            <div class="image" id="idImage" name="image" style="background-image: url(https://m.media-amazon.com/images/M/MV5BNDgwNDU2MjgwMl5BMl5BanBnXkFtZTgwMTE2NzQ0NTM@._V1_.jpg)"></div>
            <div class="data" id="idData" name="data">
                <div class="content">
                    <h1 class="title">13 reasons why</h1>
                    <article class="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, eaque, officia nam fugit error corporis
                        omnis quasi deleniti numquam sit exercitationem quo est quaerat eum suscipit maxime cupiditate perspiciatis!
                        Unde?</article>
                    <button class="more" type="button">Read more</button>
                </div>
            </div>
        </div>
        <div class="add">
            <i class="material-icons">add_box</i>
        </div>
    </div>